:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow: #F2AC57;
  --orange: #F27B35;
  --wood: #BF9788;
  --brightorange: #F24C27;
  --red: #D93B3B;
  --grey: #D9D4D2;
  --light: #EBEBF2;
  --beige: #F2BEA0;
  --skin: #D99982;
  --mutedred: #BF5A50;
  --black: #0D0D0D;

}

a {
  font-weight: 500;
  color: var(--brightorange);
  text-decoration: inherit;
}
a:hover {
  color: var(--red);
}

body {
  margin: 0;
  padding-top: 80px;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--grey);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--black);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--mutedred);
}

.navBar a {
  color: var(--beige);
  padding: 20px;
}

.navBar a:hover {
  background-color: var(--beige);
  color: var(--mutedred);
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.categoriesList li {
  box-sizing: border-box;
  width: 20%;
  margin: 10px;
}

.categoryCard {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--skin);
  color: var(--grey)
}

.categoryCard:hover {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--beige);
  color: var(--mutedred);
}

img {
  width: 100%;
  height: auto;
}

.mealDisplay {
  display: flex;
  text-align: left;
}

.mealPhoto {
  width: 25%;
}

.mealInfo {
  width: 75%;
  margin-left: 20px;
  box-sizing: border-box;
}

.ingredients {
  padding-left: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
